.App {
    text-align: center;
    background-color: #000000;
    width: 100vw;
    height: 100vw;
    opacity: 0.7;
    z-index: 1
}

.playButton {
    width:100px;
    height:100px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
}

.dogPic {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 1000;
}

.puddle1, .puddle2, .puddle3 {
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: 30%;
    display: inline-block;
}

.puddle1 {
    left: 5%;
}

.puddle2 {
    left: 25%;
}

.puddle3 {
    left: 45%;
}